:root {
  --black: #010101;
  --fluorescent: #ccff00;
  --white: #f5f5f5;
}

/* Black to grey background gradient */
body {
  background: linear-gradient(50deg, #000000, #424448) no-repeat fixed;
  border-radius: 50px;
  color: var(--white);
}

/* Sync Logos */
.logo-sync {
  left: 0;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100px;
}

.logo-x {
  bottom: 0;
  padding: 30px;
  position: fixed;
  right: 0;
  width: 40px;
}

/* Main page image of laptop */
.img-laptop {
  position: fixed;
  left: 60vw;
  bottom: 22vh;
  height: 170vh;
}
